
/*
 * Commvault REST API
 *
 * Commvault APIs
 *
 * API version: LATEST
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package apiclient

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type GlobalSearchApiService service
/*
GlobalSearchApiService Get Aggregate count of Entity
Get aggregate count of entity
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param globalSearchEntity name of global search entity
 * @param func_ aggregation function to be applied.
 * @param optional nil or *GlobalSearchApiGetAggregateOnEntityOpts - Optional Parameters:
     * @param "Fq" (optional.String) -  Filter criteria to filter out global search entities
     * @param "GroupBy" (optional.String) -  comma-separated list of entity response attributes based on which aggregate results would be grouped
     * @param "AggregateOn" (optional.String) -  attribute on which aggregation function would be applied.
@return GlobalEntityAggregationValueResp
*/

type GlobalSearchApiGetAggregateOnEntityOpts struct {
    Fq optional.String
    GroupBy optional.String
    AggregateOn optional.String
}

func (a *GlobalSearchApiService) GetAggregateOnEntity(ctx context.Context, globalSearchEntity string, func_ string, localVarOptionals *GlobalSearchApiGetAggregateOnEntityOpts) (GlobalEntityAggregationValueResp, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue GlobalEntityAggregationValueResp
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/V4/{globalSearchEntity}/aggregate"
	localVarPath = strings.Replace(localVarPath, "{"+"globalSearchEntity"+"}", fmt.Sprintf("%v", globalSearchEntity), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Fq.IsSet() {
		localVarQueryParams.Add("fq", parameterToString(localVarOptionals.Fq.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.GroupBy.IsSet() {
		localVarQueryParams.Add("groupBy", parameterToString(localVarOptionals.GroupBy.Value(), ""))
	}
	localVarQueryParams.Add("func", parameterToString(func_, ""))
	if localVarOptionals != nil && localVarOptionals.AggregateOn.IsSet() {
		localVarQueryParams.Add("aggregateOn", parameterToString(localVarOptionals.AggregateOn.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authtoken"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v GlobalEntityAggregationValueResp
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
