# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Output** | **string** | Output of the script executed | [optional] [default to null]
**Name** | **string** | Name of the script executed | [optional] [default to null]
**ValidationStatus** | [***ValidationStatus**](ValidationStatus.md) |  | [optional] [default to null]
**FailureReason** | **string** | Script validation failure reason | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

